**.o

CCC/*/*/build
CCC/*/*/dist
**/.DS_Store

CCC/2013/s5

equidistant-towns/eq_towns

Project_Euler/1-Multiples_of_3_and_5
Project_Euler/2-Even_Fibonacci_Numbers
Project_Euler/3-Largest_Prime_Factor
Project_Euler/4-Largest_Palindrome_Product
